.App input{
        width:30%;
        border:2px solid #aaa;
        border-radius:4px;
        margin-bottom: 8px;
        margin-right: 4px;
        outline:none;
        padding:8px;
        box-sizing:border-box;
        transition:.3s;
      }
      
.App input:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
.App h1 {
    text-align: center;
}
.Green, .Red {
    display: inline;
}

.Green button{
    box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#2bc050;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
    margin-bottom: 5px;
    outline: none;
}
.Green button:hover{
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
}
.Green button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.Red button{
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-left: 6px;
    outline: none;
}
.Red button:hover{
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.Red button:active{
	background-color:#ac0d0d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}